body {
    background-color: #6fcf97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 800;
}